# Uploading data to Database

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

--2023-02-04 19:01:12--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 20.248.137.48
Connecting to github.com (github.com)|20.248.137.48|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230204T190113Z&X-Amz-Expires=300&X-Amz-Signature=acc9d1da7aca45351ac73d577af18995226e54d247a78493efbc5fc8cbc30cd4&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-02-04 19:01:14--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230204T190113Z&X-Amz-Expires=300&X-Amz-Signature=acc9d1da7aca45351ac73d577af18995226e54d247a78493efbc5fc8cbc30cd4&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2021-01.csv.gz.2’

yellow_tripdata_202 100%[===================>]  23.87M  27.3MB/s    in 0.9s

2023-02-04 19:01:15 (27.3 MB/s) - ‘yellow_tripdata_2021-01.csv.gz.2’ saved [25031880/25031880]

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', low_memory=False)

In [5]:
# create an engine to toccect to the database: 
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
# pulling the df.columns to database: 
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [9]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
# pulling the entire df to database: 
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

765

In [11]:
df.shape

(1369765, 18)