In [1]:
import pandas as pd
import numpy as np
import re

In [5]:
df = pd.read_csv('action.csv', low_memory=True)

/tmp/ipykernel_89139/1019702677.py:1: DtypeWarning: Columns (5,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('action_01.csv', low_memory=True)

In [6]:
df.head()

,popularity,title,episode,year,episode_year,rating,age,duration,genre,votes,...,movie_url,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1,The Night Agent,NaN,(2023– ),NaN,7.6,TV-MA,NaN,"Action, Drama, Thriller",40441,...,https://www.imdb.com/title/tt13918776/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,The Mandalorian,NaN,(2019– ),NaN,8.7,TV-14,40 min,"Action, Adventure, Fantasy",527834,...,https://www.imdb.com/title/tt8111088/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Dungeons & Dragons: Honor Among Thieves,NaN,(2023),NaN,7.6,PG-13,134 min,"Action, Adventure, Comedy",37233,...,https://www.imdb.com/title/tt2906216/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,John Wick: Chapter 4,NaN,(2023),NaN,8.2,R,169 min,"Action, Crime, Thriller",108570,...,https://www.imdb.com/title/tt10366206/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Murder Mystery 2,NaN,(2023),NaN,5.6,PG-13,90 min,"Action, Comedy, Crime",32531,...,https://www.imdb.com/title/tt15255288/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [350]:
df['popularity'] = df.loc[:,'popularity'].apply(lambda x: x.strip('.')).apply(lambda x: x.replace(',', ''))

In [351]:
df[['title','episode', 'age', 'duration', 'genre', 'votes', 'description']] = df.loc[:,['title','episode', 'age', 'duration', 'genre', 'votes', 'description']].apply(lambda x: x.str.replace('\n', '')).apply(lambda x: x.str.strip())

In [352]:
df['year'] = df['year'].str.extract(r'(\d{4}?)', expand=False)

In [353]:
df['episode_year'] = df['episode_year'].str.extract(r'(\d{4}?)', expand=False)

In [354]:
df['duration'] = df.loc[:,'duration'].astype(str).apply(lambda x: x.split(' ')[0]).apply(lambda x: x.replace(',', '')).astype(float)

In [355]:
df['votes'] = df.loc[:,'votes'].astype(str).apply(lambda x: x.replace(',', ''))

In [356]:
df['votes'] = pd.to_numeric(df['votes'], downcast='float', errors='coerce')

In [357]:
df['votes'].fillna(0, inplace=True)

In [358]:
df['votes'] = pd.to_numeric(df['votes'], downcast='integer')

In [359]:
df['popularity'] = pd.to_numeric(df['popularity'], downcast='integer')

In [360]:
df = df[df['year'].notna()]

In [361]:
df['year'] = pd.to_numeric(df['year'], downcast='integer')

In [362]:
df['episode_year'] = pd.to_numeric(df['episode_year'], downcast='float')

In [363]:
df['rating'].fillna('Not Rated', inplace=True)

In [364]:
df['episode'].fillna('No Episodes', inplace=True)

In [365]:
df['age'].fillna('Not Rated', inplace=True)

In [366]:
df['duration'] = df['duration'].fillna(0)

In [367]:
df['duration'] = pd.to_numeric(df['duration'], downcast='integer')

In [368]:
df['description'].fillna('No description', inplace=True)

In [369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176074 entries, 0 to 189797
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   popularity    176074 non-null  int32
 1   title         176074 non-null  object
 2   episode       176074 non-null  object
 3   year          176074 non-null  int16
 4   episode_year  64408 non-null   float32
 5   rating        176074 non-null  object
 6   age           176074 non-null  object
 7   duration      176074 non-null  int16
 8   genre         176074 non-null  object
 9   votes         176074 non-null  int32
 10  description   176074 non-null  object
 11  movie_url     176074 non-null  object
dtypes: float32(1), int16(2), int32(2), object(7)
memory usage: 13.4+ MB