In [71]:
import pandas as pd
import numpy as np
import re

In [72]:
df = pd.read_csv('action.csv', low_memory=True)

In [73]:
df.head()

,popularity,title,main_genre,episode,year,episode_year,rating,age,duration,genre,votes,description,movie_url
0,1.,The Night Agent,action,NaN,(2023– ),NaN,7.6,TV-MA,NaN,"Action, Drama, Thriller","41,612","Low-level FBI agent, Peter Sutherland, works i...",https://www.imdb.com/title/tt13918776/
1,2.,The Mandalorian,action,NaN,(2019– ),NaN,8.7,TV-14,40 min,"Action, Adventure, Fantasy","528,333",The travels of a lone bounty hunter in the out...,https://www.imdb.com/title/tt8111088/
2,3.,Dungeons & Dragons: Honor Among Thieves,action,NaN,(2023),NaN,7.6,PG-13,134 min,"Action, Adventure, Comedy","38,216",A charming thief and a band of unlikely advent...,https://www.imdb.com/title/tt2906216/
3,4.,John Wick: Chapter 4,action,NaN,(2023),NaN,8.2,R,169 min,"Action, Crime, Thriller","109,906",John Wick uncovers a path to defeating The Hig...,https://www.imdb.com/title/tt10366206/
4,5.,Murder Mystery 2,action,NaN,(2023),NaN,5.6,PG-13,90 min,"Action, Comedy, Crime","33,382",Full-time detectives Nick and Audrey are strug...,https://www.imdb.com/title/tt15255288/

In [74]:
df.episode.value_counts()

Episode #1.1                                                                     1744
Episode #1.2                                                                     1588
Episode #1.3                                                                     1497
Episode #1.4                                                                     1431
Episode #1.5                                                                     1326
                                                                                 ...
Maigo sagashi                                                                       1
WWE ThunderDome: Bottled Up Aggression                                              1
WWE ThunderDome: Countdown to WWE TLC - Tables Ladders Chairs 2020                  1
WWE ThunderDome: Merry Christmas/WWE TLC - Tables Ladders Chairs 2020 Fallout       1
Nothing But Truffle                                                                 1
Name: episode, Length: 174656, dtype: int64

In [75]:
df['movie_id'] = df.loc[:,['movie_url']].apply(lambda x: x.str.split('/').str[-2])

In [76]:
df.shape

(389068, 14)

In [77]:
df['movie_id'].nunique()

120389

In [86]:
episodes = df[['movie_id', 'title', 'episode']].groupby(['movie_id', 'title']).agg('count')

In [89]:
sorted_series_count=episodes.sort_values('episode', ascending=False)
print(sorted_series_count)

                                                  episode
movie_id   title
tt0149534   Thuis                                    3051
tt0306365   Nintama Rantarô                          2064
tt6155146   Ang probinsyano                          1684
tt0185103   WWE Raw                                  1561
tt0158220   Siempre en Domingo                       1522
...                                                   ...
tt1270770  Kungfused                                    0
tt1270767  Higanjima: Escape from Vampire Island        0
tt1270759  Crash Kids: Trust No One                     0
tt12707364 Rice Girl: My Redneck Neighbor II            0
tt9916248  Mahiwaga                                     0

[128893 rows x 1 columns]

In [65]:
series_count = df.groupby('movie_id',sort=False).count()
sorted_series_count=series_count.sort_values('movie_id', ascending=False)['title']
print(sorted_series_count)

movie_id
tt9916248    1
tt9916190    1
tt9915536    1
tt9915050    1
tt9915010    1
            ..
tt0000447    1
tt0000439    1
tt0000417    1
tt0000355    1
tt0000273    1
Name: title, Length: 120389, dtype: int64

In [48]:
df.set_index('movie_id', inplace=True)

In [49]:
df.head()

,popularity,title,main_genre,episode,year,episode_year,rating,age,duration,genre,votes,description,movie_url
movie_id,,,,,,,,,,,,,
tt13918776,1.,The Night Agent,action,NaN,(2023– ),NaN,7.6,TV-MA,NaN,"Action, Drama, Thriller","41,612","Low-level FBI agent, Peter Sutherland, works i...",https://www.imdb.com/title/tt13918776/
tt8111088,2.,The Mandalorian,action,NaN,(2019– ),NaN,8.7,TV-14,40 min,"Action, Adventure, Fantasy","528,333",The travels of a lone bounty hunter in the out...,https://www.imdb.com/title/tt8111088/
tt2906216,3.,Dungeons & Dragons: Honor Among Thieves,action,NaN,(2023),NaN,7.6,PG-13,134 min,"Action, Adventure, Comedy","38,216",A charming thief and a band of unlikely advent...,https://www.imdb.com/title/tt2906216/
tt10366206,4.,John Wick: Chapter 4,action,NaN,(2023),NaN,8.2,R,169 min,"Action, Crime, Thriller","109,906",John Wick uncovers a path to defeating The Hig...,https://www.imdb.com/title/tt10366206/
tt15255288,5.,Murder Mystery 2,action,NaN,(2023),NaN,5.6,PG-13,90 min,"Action, Comedy, Crime","33,382",Full-time detectives Nick and Audrey are strug...,https://www.imdb.com/title/tt15255288/

In [40]:
codes

0         [https:, , www.imdb.com, title, tt13918776, ]
1          [https:, , www.imdb.com, title, tt8111088, ]
2          [https:, , www.imdb.com, title, tt2906216, ]
3         [https:, , www.imdb.com, title, tt10366206, ]
4         [https:, , www.imdb.com, title, tt15255288, ]
                              ...
389063     [https:, , www.imdb.com, title, tt1289683, ]
389064     [https:, , www.imdb.com, title, tt1289683, ]
389065     [https:, , www.imdb.com, title, tt1289683, ]
389066     [https:, , www.imdb.com, title, tt1289683, ]
389067     [https:, , www.imdb.com, title, tt1289683, ]
Name: movie_url, Length: 389068, dtype: object

In [4]:
df['popularity'] = df.loc[:,'popularity'].apply(lambda x: x.strip('.')).apply(lambda x: x.replace(',', ''))

In [5]:
df[['title','episode', 'age', 'duration', 'genre', 'votes', 'description']] = df.loc[:,['title','episode', 'age', 'duration', 'genre', 'votes', 'description']].apply(lambda x: x.str.replace('\n', '')).apply(lambda x: x.str.strip())

In [6]:
df['year'] = df['year'].str.extract(r'(\d{4}?)', expand=False)

In [7]:
df['episode_year'] = df['episode_year'].str.extract(r'(\d{4}?)', expand=False)

In [8]:
df['duration'] = df.loc[:,'duration'].astype(str).apply(lambda x: x.split(' ')[0]).apply(lambda x: x.replace(',', '')).astype(float)

In [9]:
df['votes'] = df.loc[:,'votes'].astype(str).apply(lambda x: x.replace(',', ''))

In [10]:
df['votes'] = pd.to_numeric(df['votes'], downcast='float', errors='coerce')

In [11]:
df['votes'].fillna(0, inplace=True)

In [12]:
df['votes'] = pd.to_numeric(df['votes'], downcast='integer')

In [13]:
df['popularity'] = pd.to_numeric(df['popularity'], downcast='integer')

In [14]:
df = df[df['year'].notna()]

In [15]:
df['year'] = pd.to_numeric(df['year'], downcast='integer')

In [16]:
df['episode_year'] = pd.to_numeric(df['episode_year'], downcast='float')

In [17]:
df['rating'].fillna('Not Rated', inplace=True)

In [18]:
df['episode'].fillna('No Episodes', inplace=True)

In [19]:
df['age'].fillna('Not Rated', inplace=True)

In [20]:
df['duration'] = df['duration'].fillna(0)

In [21]:
df['duration'] = pd.to_numeric(df['duration'], downcast='integer')

In [22]:
df['description'].fillna('No description', inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374303 entries, 0 to 389067
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   popularity    374303 non-null  int32
 1   title         374303 non-null  object
 2   main_genre    374303 non-null  object
 3   episode       374303 non-null  object
 4   year          374303 non-null  int16
 5   episode_year  246296 non-null  float32
 6   rating        374303 non-null  object
 7   age           374303 non-null  object
 8   duration      374303 non-null  int16
 9   genre         374303 non-null  object
 10  votes         374303 non-null  int32
 11  description   374303 non-null  object
 12  movie_url     374303 non-null  object
dtypes: float32(1), int16(2), int32(2), object(8)
memory usage: 31.4+ MB

In [24]:
df.head()

,popularity,title,main_genre,episode,year,episode_year,rating,age,duration,genre,votes,description,movie_url
0,1,The Night Agent,action,No Episodes,2023,NaN,7.6,TV-MA,0,"Action, Drama, Thriller",41612,"Low-level FBI agent, Peter Sutherland, works i...",https://www.imdb.com/title/tt13918776/
1,2,The Mandalorian,action,No Episodes,2019,NaN,8.7,TV-14,40,"Action, Adventure, Fantasy",528333,The travels of a lone bounty hunter in the out...,https://www.imdb.com/title/tt8111088/
2,3,Dungeons & Dragons: Honor Among Thieves,action,No Episodes,2023,NaN,7.6,PG-13,134,"Action, Adventure, Comedy",38216,A charming thief and a band of unlikely advent...,https://www.imdb.com/title/tt2906216/
3,4,John Wick: Chapter 4,action,No Episodes,2023,NaN,8.2,R,169,"Action, Crime, Thriller",109906,John Wick uncovers a path to defeating The Hig...,https://www.imdb.com/title/tt10366206/
4,5,Murder Mystery 2,action,No Episodes,2023,NaN,5.6,PG-13,90,"Action, Comedy, Crime",33382,Full-time detectives Nick and Audrey are strug...,https://www.imdb.com/title/tt15255288/

TypeError: can only concatenate str (not "int") to str

In [26]:
df.movie_url.nunique()

106890