In [176]:
import pandas as pd
import re
from datetime import datetime

In [177]:
df = pd.read_csv('films_financials.csv', low_memory=False)

In [178]:
df.head()

,title,top_cast,director,writer,country_of_origin,language,release_date,production_company,filming_locations,aspect_ratio,budget_local_currency,gross_us_canada,opening_weekend_us_canada_usd,opening_weekend_date,gross_worldwide,movie_url
0,The Super Mario Bros. Movie,"Chris Pratt,Anya Taylor-Joy,Charlie Day,Jack B...",Aaron Horvath,Matthew Fogel,"United States,Japan",English,"April 5, 2023 (United States)","Universal Pictures,Nintendo,Illumination Enter...","Paris, France",2.39 : 1,"$100,000,000 (estimated)","$240,201,260","$146,361,865","Apr 9, 2023","$427,851,677",https://www.imdb.com/title/tt6718170/?ref_=adv...
1,John Wick: Chapter 4,"Keanu Reeves,Laurence Fishburne,George Georgio...",Chad Stahelski,Shay Hatten,"United States,Germany",English,"March 24, 2023 (United States)","87Eleven Entertainment,Lionsgate,Studio Babels...","Wadi Rum Desert, Jordan",2.39 : 1,"$90,000,000 (estimated)","$149,987,236","$73,817,950","Mar 26, 2023","$271,987,236",https://www.imdb.com/title/tt10366206/?ref_=ad...
2,Vinland Saga,"Yûto Uemura,Alejandro Saab,Mike Haimoto,Aleks ...",NaN,NaN,Japan,Japanese,"July 6, 2019 (United States)","Wit Studio,Mappa",NaN,16:9 HD,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt10233448/?ref_=ad...
3,Star Wars: Rebels,"Dave Filoni,Taylor Gray,Freddie Prinze Jr.,Van...",Simon Kinberg,NaN,United States,English,"September 26, 2014 (United States)","CGCG Inc. (I),Disney XD,Disney-ABC Domestic Te...",NaN,1.78 : 1,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt2930604/?ref_=adv...
4,Star Wars: The Clone Wars,"Tom Kane,Dee Bradley Baker,Matt Lanter,James A...",George Lucas,NaN,United States,English,"October 3, 2008 (United States)","CGCG,Cartoon Network,Disney+",NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt0458290/?ref_=adv...

In [179]:
df.loc[:, 'movie_id'] = df.loc[:,'movie_url'].str.extract('([t]{2}\d+)', expand=False)

In [180]:
df.head()

,title,top_cast,director,writer,country_of_origin,language,release_date,production_company,filming_locations,aspect_ratio,budget_local_currency,gross_us_canada,opening_weekend_us_canada_usd,opening_weekend_date,gross_worldwide,movie_url,movie_id
0,The Super Mario Bros. Movie,"Chris Pratt,Anya Taylor-Joy,Charlie Day,Jack B...",Aaron Horvath,Matthew Fogel,"United States,Japan",English,"April 5, 2023 (United States)","Universal Pictures,Nintendo,Illumination Enter...","Paris, France",2.39 : 1,"$100,000,000 (estimated)","$240,201,260","$146,361,865","Apr 9, 2023","$427,851,677",https://www.imdb.com/title/tt6718170/?ref_=adv...,tt6718170
1,John Wick: Chapter 4,"Keanu Reeves,Laurence Fishburne,George Georgio...",Chad Stahelski,Shay Hatten,"United States,Germany",English,"March 24, 2023 (United States)","87Eleven Entertainment,Lionsgate,Studio Babels...","Wadi Rum Desert, Jordan",2.39 : 1,"$90,000,000 (estimated)","$149,987,236","$73,817,950","Mar 26, 2023","$271,987,236",https://www.imdb.com/title/tt10366206/?ref_=ad...,tt10366206
2,Vinland Saga,"Yûto Uemura,Alejandro Saab,Mike Haimoto,Aleks ...",NaN,NaN,Japan,Japanese,"July 6, 2019 (United States)","Wit Studio,Mappa",NaN,16:9 HD,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt10233448/?ref_=ad...,tt10233448
3,Star Wars: Rebels,"Dave Filoni,Taylor Gray,Freddie Prinze Jr.,Van...",Simon Kinberg,NaN,United States,English,"September 26, 2014 (United States)","CGCG Inc. (I),Disney XD,Disney-ABC Domestic Te...",NaN,1.78 : 1,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt2930604/?ref_=adv...,tt2930604
4,Star Wars: The Clone Wars,"Tom Kane,Dee Bradley Baker,Matt Lanter,James A...",George Lucas,NaN,United States,English,"October 3, 2008 (United States)","CGCG,Cartoon Network,Disney+",NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt0458290/?ref_=adv...,tt0458290

In [181]:
list_columns = ['top_cast', 'director', 'writer', 'country_of_origin', 'production_company']

In [182]:
def table_creator(df, columns): 
    dfs = []
    for column in list_columns: 
        temp_df = df[['movie_id', column]].copy()
        temp_df.loc[:, column] = temp_df.loc[:, column].str.split(',')
        temp_df = temp_df.explode(column)
        temp_df.set_index('movie_id', inplace=True)
        dfs.append(temp_df)
    return dfs

In [183]:
df_copy = df.copy()

In [184]:
list_of_dataframes = table_creator(df, list_columns)
for df in list_of_dataframes: 
    display(df.head())

                           top_cast
movie_id
tt6718170               Chris Pratt
tt6718170           Anya Taylor-Joy
tt6718170               Charlie Day
tt6718170                Jack Black
tt6718170  Kevin Michael Richardson

                  director
movie_id
tt6718170    Aaron Horvath
tt10366206  Chad Stahelski
tt10233448             NaN
tt2930604    Simon Kinberg
tt0458290     George Lucas

                   writer
movie_id
tt6718170   Matthew Fogel
tt10366206    Shay Hatten
tt10233448            NaN
tt2930604             NaN
tt0458290             NaN

           country_of_origin
movie_id
tt6718170      United States
tt6718170              Japan
tt10366206     United States
tt10366206           Germany
tt10233448             Japan

                    production_company
movie_id
tt6718170           Universal Pictures
tt6718170                     Nintendo
tt6718170   Illumination Entertainment
tt10366206      87Eleven Entertainment
tt10366206                   Lionsgate

In [185]:
cast = list_of_dataframes[0]
director = list_of_dataframes[1]
writer = list_of_dataframes[2]
country_of_origin = list_of_dataframes[3]
production_company = list_of_dataframes[4]

In [186]:
df_copy.head()

,title,top_cast,director,writer,country_of_origin,language,release_date,production_company,filming_locations,aspect_ratio,budget_local_currency,gross_us_canada,opening_weekend_us_canada_usd,opening_weekend_date,gross_worldwide,movie_url,movie_id
0,The Super Mario Bros. Movie,"Chris Pratt,Anya Taylor-Joy,Charlie Day,Jack B...",Aaron Horvath,Matthew Fogel,"United States,Japan",English,"April 5, 2023 (United States)","Universal Pictures,Nintendo,Illumination Enter...","Paris, France",2.39 : 1,"$100,000,000 (estimated)","$240,201,260","$146,361,865","Apr 9, 2023","$427,851,677",https://www.imdb.com/title/tt6718170/?ref_=adv...,tt6718170
1,John Wick: Chapter 4,"Keanu Reeves,Laurence Fishburne,George Georgio...",Chad Stahelski,Shay Hatten,"United States,Germany",English,"March 24, 2023 (United States)","87Eleven Entertainment,Lionsgate,Studio Babels...","Wadi Rum Desert, Jordan",2.39 : 1,"$90,000,000 (estimated)","$149,987,236","$73,817,950","Mar 26, 2023","$271,987,236",https://www.imdb.com/title/tt10366206/?ref_=ad...,tt10366206
2,Vinland Saga,"Yûto Uemura,Alejandro Saab,Mike Haimoto,Aleks ...",NaN,NaN,Japan,Japanese,"July 6, 2019 (United States)","Wit Studio,Mappa",NaN,16:9 HD,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt10233448/?ref_=ad...,tt10233448
3,Star Wars: Rebels,"Dave Filoni,Taylor Gray,Freddie Prinze Jr.,Van...",Simon Kinberg,NaN,United States,English,"September 26, 2014 (United States)","CGCG Inc. (I),Disney XD,Disney-ABC Domestic Te...",NaN,1.78 : 1,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt2930604/?ref_=adv...,tt2930604
4,Star Wars: The Clone Wars,"Tom Kane,Dee Bradley Baker,Matt Lanter,James A...",George Lucas,NaN,United States,English,"October 3, 2008 (United States)","CGCG,Cartoon Network,Disney+",NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt0458290/?ref_=adv...,tt0458290

In [187]:
df_copy.drop(['top_cast', 'director', 'writer', 'country_of_origin', 'production_company'], axis=1, inplace=True)

In [188]:
df_copy.tail()

,title,language,release_date,filming_locations,aspect_ratio,budget_local_currency,gross_us_canada,opening_weekend_us_canada_usd,opening_weekend_date,gross_worldwide,movie_url,movie_id
221106,1045,French,"September 12, 2008 (France)","Belle-de-Mai Media Center, 37 Rue Guibal, Mars...",NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt1294019/?ref_=adv...,tt1294019
221107,Episode #1.492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt12939704/?ref_=ad...,tt12939704
221108,Episode #1.485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt12939684/?ref_=ad...,tt12939684
221109,A Famous Victory,English,"March 14, 1971 (United States)",NaN,1.33 : 1,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt1293933/?ref_=adv...,tt1293933
221110,Episode #1.3041,NaN,1985 (United States),NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt12939302/?ref_=ad...,tt12939302

In [189]:
digit_columns = ['budget_local_currency', 'gross_us_canada', 'opening_weekend_us_canada_usd', 'gross_worldwide']

In [190]:
def comma_cleaner(df, columns): 
    for column in columns: 
        df[column].replace(',','', regex=True, inplace=True)
    return df

In [191]:
df2 = comma_cleaner(df_copy, digit_columns)

In [192]:
df2.loc[:, 'local_currency'] = df2.loc[:,'budget_local_currency'].str.extract('(\D+)', expand=False)

In [193]:
df2.loc[:, 'local_currency_budget'] = df2.loc[:,'budget_local_currency'].str.extract('(\d+)', expand=False)

In [194]:
df2.drop('budget_local_currency', axis=1, inplace=True)

In [195]:
df2['release_country'] = df2['release_date'].astype(str).apply(lambda x: x.split('(')[-1]).apply(lambda x: x.strip(')'))

In [196]:
df2['release_date'] = df2['release_date'].astype(str).apply(lambda x: x.split('(')[0])

In [197]:
df2['release_date'] = df2['release_date'].astype(str).apply(lambda x: x.replace(',', '')).apply(lambda x: x.replace('  ', ' '))

In [170]:
df2.head()

,title,language,release_date,filming_locations,aspect_ratio,gross_us_canada,opening_weekend_us_canada_usd,opening_weekend_date,gross_worldwide,movie_url,movie_id,local_currency,local_currency_budget,release_country
0,The Super Mario Bros. Movie,English,April 5 2023,"Paris, France",2.39 : 1,$240201260,$146361865,"Apr 9, 2023",$427851677,https://www.imdb.com/title/tt6718170/?ref_=adv...,tt6718170,$,100000000,United States
1,John Wick: Chapter 4,English,March 24 2023,"Wadi Rum Desert, Jordan",2.39 : 1,$149987236,$73817950,"Mar 26, 2023",$271987236,https://www.imdb.com/title/tt10366206/?ref_=ad...,tt10366206,$,90000000,United States
2,Vinland Saga,Japanese,July 6 2019,NaN,16:9 HD,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt10233448/?ref_=ad...,tt10233448,NaN,NaN,United States
3,Star Wars: Rebels,English,September 26 2014,NaN,1.78 : 1,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt2930604/?ref_=adv...,tt2930604,NaN,NaN,United States
4,Star Wars: The Clone Wars,English,October 3 2008,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt0458290/?ref_=adv...,tt0458290,NaN,NaN,United States

In [172]:
df2.head()

,title,language,release_date,filming_locations,aspect_ratio,gross_us_canada,opening_weekend_us_canada_usd,opening_weekend_date,gross_worldwide,movie_url,movie_id,local_currency,local_currency_budget,release_country
0,The Super Mario Bros. Movie,English,NaT,"Paris, France",2.39 : 1,$240201260,$146361865,"Apr 9, 2023",$427851677,https://www.imdb.com/title/tt6718170/?ref_=adv...,tt6718170,$,100000000,United States
1,John Wick: Chapter 4,English,NaT,"Wadi Rum Desert, Jordan",2.39 : 1,$149987236,$73817950,"Mar 26, 2023",$271987236,https://www.imdb.com/title/tt10366206/?ref_=ad...,tt10366206,$,90000000,United States
2,Vinland Saga,Japanese,NaT,NaN,16:9 HD,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt10233448/?ref_=ad...,tt10233448,NaN,NaN,United States
3,Star Wars: Rebels,English,NaT,NaN,1.78 : 1,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt2930604/?ref_=adv...,tt2930604,NaN,NaN,United States
4,Star Wars: The Clone Wars,English,NaT,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt0458290/?ref_=adv...,tt0458290,NaN,NaN,United States

In [142]:
date1 = pd.to_datetime(df2['release_date'], errors='coerce', format='%B %d %Y')
date2 = pd.to_datetime(df2['release_date'], errors='coerce', format='%Y')

In [171]:
#df2['release_date'] = pd.to_datetime(df2['release_date'], format='%B %-d %Y', errors='coerce')

In [175]:
date1.value_counts()

Series([], Name: release_date, dtype: int64)

In [144]:
df2['release_date'] = date1.fillna(date2)

In [147]:
df2.head()

,title,language,release_date,filming_locations,aspect_ratio,gross_us_canada,opening_weekend_us_canada_usd,opening_weekend_date,gross_worldwide,movie_url,movie_id,local_currency,local_currency_budget,release_country
0,The Super Mario Bros. Movie,English,NaT,"Paris, France",2.39 : 1,$240201260,$146361865,"Apr 9, 2023",$427851677,https://www.imdb.com/title/tt6718170/?ref_=adv...,tt6718170,$,100000000,United States
1,John Wick: Chapter 4,English,NaT,"Wadi Rum Desert, Jordan",2.39 : 1,$149987236,$73817950,"Mar 26, 2023",$271987236,https://www.imdb.com/title/tt10366206/?ref_=ad...,tt10366206,$,90000000,United States
2,Vinland Saga,Japanese,NaT,NaN,16:9 HD,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt10233448/?ref_=ad...,tt10233448,NaN,NaN,United States
3,Star Wars: Rebels,English,NaT,NaN,1.78 : 1,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt2930604/?ref_=adv...,tt2930604,NaN,NaN,United States
4,Star Wars: The Clone Wars,English,NaT,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt0458290/?ref_=adv...,tt0458290,NaN,NaN,United States

In [ ]:
list_1 = df2.local_currency.value_counts().index.tolist()

In [ ]:
list_2 = [x.strip() for x in list_1]

In [ ]:
print(list_2)

In [ ]:
df2.head()