In [60]:
import pandas as pd

In [61]:
df = pd.read_csv('films_financials.csv', low_memory=False)

In [62]:
df.head()

,title,top_cast,director,writer,country_of_origin,language,release_date,production_company,filming_locations,aspect_ratio,budget_local_currency,gross_us_canada,opening_weekend_us_canada_usd,opening_weekend_date,gross_worldwide,movie_url
0,The Super Mario Bros. Movie,"Chris Pratt,Anya Taylor-Joy,Charlie Day,Jack B...",Aaron Horvath,Matthew Fogel,"United States,Japan",English,"April 5, 2023 (United States)","Universal Pictures,Nintendo,Illumination Enter...","Paris, France",2.39 : 1,"$100,000,000 (estimated)","$240,201,260","$146,361,865","Apr 9, 2023","$427,851,677",https://www.imdb.com/title/tt6718170/?ref_=adv...
1,John Wick: Chapter 4,"Keanu Reeves,Laurence Fishburne,George Georgio...",Chad Stahelski,Shay Hatten,"United States,Germany",English,"March 24, 2023 (United States)","87Eleven Entertainment,Lionsgate,Studio Babels...","Wadi Rum Desert, Jordan",2.39 : 1,"$90,000,000 (estimated)","$149,987,236","$73,817,950","Mar 26, 2023","$271,987,236",https://www.imdb.com/title/tt10366206/?ref_=ad...
2,Vinland Saga,"Yûto Uemura,Alejandro Saab,Mike Haimoto,Aleks ...",NaN,NaN,Japan,Japanese,"July 6, 2019 (United States)","Wit Studio,Mappa",NaN,16:9 HD,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt10233448/?ref_=ad...
3,Star Wars: Rebels,"Dave Filoni,Taylor Gray,Freddie Prinze Jr.,Van...",Simon Kinberg,NaN,United States,English,"September 26, 2014 (United States)","CGCG Inc. (I),Disney XD,Disney-ABC Domestic Te...",NaN,1.78 : 1,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt2930604/?ref_=adv...
4,Star Wars: The Clone Wars,"Tom Kane,Dee Bradley Baker,Matt Lanter,James A...",George Lucas,NaN,United States,English,"October 3, 2008 (United States)","CGCG,Cartoon Network,Disney+",NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.imdb.com/title/tt0458290/?ref_=adv...

In [63]:
digit_columns = ['budget_local_currency', 'gross_us_canada', 'opening_weekend_us_canada_usd', 'gross_worldwide']

In [64]:
def comma_cleaner(df, columns): 
    for column in columns: 
        df[column].replace(',','', regex=True, inplace=True)
    return df

In [65]:
df2 = comma_cleaner(df, digit_columns)

In [66]:
df2.loc[:, 'local_currency'] = df2.loc[:,'budget_local_currency'].str.extract('(\D+)', expand=False)

In [67]:
df2.loc[:, 'local_currency_budget'] = df2.loc[:,'budget_local_currency'].str.extract('(\d+)', expand=False)

In [68]:
df2.drop('budget_local_currency', axis=1, inplace=True)

In [80]:
list_1 = df2.local_currency.value_counts().index.tolist()

In [83]:
list_2 = [x.strip() for x in list_1]

In [84]:
print(list_2)

['$', '€', '₹', '£', 'CA$', 'A$', 'R$', 'BDT', 'MX$', 'SEK', 'RUR', 'CN¥', '₱', 'MYR', 'ARS', 'NOK', 'HUF', 'DKK', 'TRL', 'DEM', 'PKR', 'NZ$', 'FIM', 'NGN', 'ZAR', 'IDR', 'CHF', 'NPR', 'CZK', 'PLN', 'FRF', 'IRR', '₩', 'EGP', '¥', 'SGD', 'HK$', 'AED', 'NT$', 'THB', 'ESP', 'DOP', 'ITL', 'LKR', '₪', 'COP', 'BGL', 'MVR', 'ROL', 'CLP', '₫', 'UAH', 'GRD', 'VEB', 'HRK', 'PEN', 'ISK', 'YUM', 'NLG', 'MMK', 'PTE', 'KES', 'EC$', 'CRC', 'MOP', 'MAD', 'AZM', 'BAM', 'AFA', 'TMM', 'KWD', 'DZD', 'EEK', 'JMD', 'UGX', 'FCFA', 'LVL', 'CUP', 'JOD', 'BHD', 'AMD', 'GHC', 'ETB', 'SYP', 'MDL']