In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf 
from pyspark.context import SparkContext
from pyspark.sql import functions as F
import pandas as pd

In [3]:
credentials_location = '/home/alex/.google/credentials/sanguine-form-376720-9f11d64bdbbd.json'

conf = SparkConf() \
        .setMaster('local[*]') \
        .setAppName('test') \
        .set('spark.jars', '/home/alex/lib/gcs-connector-hadoop3-latest.jar') \
        .set('spark.hadoop.google.cloud.auth.service.account.enable', 'true') \
        .set('spark.hadoop.google.cloud.auth.service.account.json.keyfile', credentials_location)

In [4]:
sc = SparkContext(conf=conf)

23/03/02 17:01:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/02 17:01:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
hadoop_conf = sc._jsc.hadoopConfiguration()

hadoop_conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

In [6]:
spark = SparkSession.builder \
    .config(conf=sc.getConf()) \
    .getOrCreate()

In [7]:
df_green = spark.read \
           .parquet('gs://iskanderrus_dez_data_lake_sanguine-form-376720/unified/green/*/*')

In [8]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [9]:
df_green = df_green \
.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
.withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [10]:
df_green.show(5)

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2|2020-01-11 04:05:54|2020-01-11 04:13:49|                 N|       1.0|         129|         129|            1.0|         0.81|        6.5|  0.5|    0.5|      0.71|         0.0|     null|                  0.3|        8.51|         1.0|      1.0|                 0.0|
|       2|2020-01-17 19:33:05|2020-01-17 19:51:08|                 N|       1.0|          75|          42|            3.0|         2.69|       13.5|  1.0|    0.5|      3.06|         0.0|     null|                  0.3|       18.36|         1.0|      1.0|                 0.0|
|       2|2020-01-30 12:41:00|2020-01-30 13:30:00|              null|      null|         117|         188|           null|        13.11|      38.57| 2.75|    0.0|       0.0|        2.29|     null|                  0.3|       43.91|        null|     null|                null|
|       2|2020-01-11 21:25:44|2020-01-11 21:40:11|                 N|       1.0|          41|         151|            1.0|         2.13|       11.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        12.3|         2.0|      1.0|                 0.0|
|       2|2020-01-04 21:45:19|2020-01-04 21:52:57|                 N|       1.0|         129|         260|            1.0|         0.89|        6.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|         2.0|      1.0|                 0.0|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows

In [11]:
df_yellow = spark.read \
           .parquet('gs://iskanderrus_dez_data_lake_sanguine-form-376720/unified/yellow/*/*')

In [12]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [13]:
df_yellow = df_yellow \
.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
.withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [14]:
df_yellow.show(5)

+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1|2020-01-02 18:49:18|2020-01-02 19:06:24|            0.0|          2.7|       1.0|                 N|         263|         230|           1|       13.0|  3.5|    0.5|      3.45|         0.0|                  0.3|       20.75|                 2.5|       null|
|       2|2020-01-30 19:15:47|2020-01-30 19:40:38|           null|         4.58|      null|              null|         147|          41|           0|      25.28| 2.75|    0.0|       0.0|         0.0|                  0.3|       28.33|                null|       null|
|       2|2020-01-06 21:05:11|2020-01-06 21:08:07|            2.0|         0.83|       1.0|                 N|         142|         239|           1|        4.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         9.3|                 2.5|       null|
|       2|2020-01-07 09:13:36|2020-01-07 09:18:26|            1.0|         0.96|       1.0|                 N|         107|          79|           2|        5.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         8.8|                 2.5|       null|
|       2|2020-01-21 08:42:00|2020-01-21 08:56:55|            3.0|         2.05|       1.0|                 N|         143|          68|           1|       10.5|  0.0|    0.5|      2.76|         0.0|                  0.3|       16.56|                 2.5|       null|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [15]:
common_cols = []

for col in df_green.columns: 
    if col in set(df_yellow.columns): 
        common_cols.append(col)

In [16]:
common_cols

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [17]:
df_green_sel = df_green \
.select(common_cols) \
.withColumn('service_type', F.lit('green'))

In [18]:
df_yellow_sel = df_yellow \
.select(common_cols) \
.withColumn('service_type', F.lit('yellow'))

In [19]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [20]:
df_trips_data.show(5)

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2020-01-11 04:05:54|2020-01-11 04:13:49|                 N|       1.0|         129|         129|            1.0|         0.81|        6.5|  0.5|    0.5|      0.71|         0.0|                  0.3|        8.51|         1.0|                 0.0|       green|
|       2|2020-01-17 19:33:05|2020-01-17 19:51:08|                 N|       1.0|          75|          42|            3.0|         2.69|       13.5|  1.0|    0.5|      3.06|         0.0|                  0.3|       18.36|         1.0|                 0.0|       green|
|       2|2020-01-30 12:41:00|2020-01-30 13:30:00|              null|      null|         117|         188|           null|        13.11|      38.57| 2.75|    0.0|       0.0|        2.29|                  0.3|       43.91|        null|                null|       green|
|       2|2020-01-11 21:25:44|2020-01-11 21:40:11|                 N|       1.0|          41|         151|            1.0|         2.13|       11.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|         2.0|                 0.0|       green|
|       2|2020-01-04 21:45:19|2020-01-04 21:52:57|                 N|       1.0|         129|         260|            1.0|         0.89|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|         2.0|                 0.0|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
only showing top 5 rows

In [21]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [22]:
df_trips_data.createOrReplaceTempView('trips_data')

In [23]:
spark.sql("""
SELECT 
    service_type, 
    count(1) as trips_count
FROM 
    trips_data
GROUP BY
    service_type; 
""").show()

+------------+-----------+
|service_type|trips_count|
+------------+-----------+
|       green|    2802931|
|      yellow|   55553400|
+------------+-----------+

In [24]:
df_result = spark.sql("""
SELECT 
    PULocationID as revenue_location,
    EXTRACT(MONTH FROM pickup_datetime) AS revenue_month, 
    service_type, 
    
    SUM(fare_amount)  AS revenue_monthly_fare,
    SUM(extra)  AS revenue_monthly_extra,
    SUM(mta_tax)  AS revenue_monthly_mta_tax,
    SUM(tip_amount)  AS revenue_monthly_tip_amount,
    SUM(tolls_amount)  AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge)  AS revenue_monthly_improvement_surcharge,
    SUM(total_amount)  AS revenue_monthly_total_amount,
    SUM(congestion_surcharge)  AS revenue_monthly_congestion_surcharge,
    
    COUNT(*) AS total_monthly_trips, 
    AVG(passenger_count) AS avg_monthly_passenger_count, 
    AVG(trip_distance) as avg_monthly_trip_distance

FROM 
    trips_data
GROUP BY
    revenue_location, revenue_month, service_type
ORDER BY revenue_location ASC, revenue_month ASC; 
""")

In [25]:
df_result.coalesce(1).write.parquet('gs://iskanderrus_dez_data_lake_sanguine-form-376720/reports/monthly_revenue_by_service_type.parquet', mode='overwrite')

In [29]:
df = pd.read_parquet('gs://iskanderrus_dez_data_lake_sanguine-form-376720/reports/monthly_revenue_by_service_type.parquet/part-00000-f2e3d77a-a09e-4bf2-a623-20c390dc5f89-c000.snappy.parquet')

In [30]:
df.head(24)

,revenue_location,revenue_month,service_type,revenue_monthly_fare,revenue_monthly_extra,revenue_monthly_mta_tax,revenue_monthly_tip_amount,revenue_monthly_tolls_amount,revenue_monthly_improvement_surcharge,revenue_monthly_total_amount,revenue_monthly_congestion_surcharge,total_monthly_trips,avg_monthly_passenger_count,avg_monthly_trip_distance
0,1,1,green,491.00,0.0,0.0,74.41,0.00,1.5,566.91,0.0,5,1.200000,0.000000
1,1,1,yellow,65249.83,33.5,115.0,9530.27,2913.45,237.3,78086.85,7.5,808,1.582609,0.929022
2,1,2,green,384.50,1.0,0.5,53.34,0.00,1.5,440.84,0.0,5,1.000000,2.800000
3,1,2,yellow,52619.82,14.5,89.5,6900.12,2021.26,192.9,61845.05,5.0,656,1.509924,1.071829
4,1,3,green,481.00,0.0,1.0,90.76,0.00,2.1,574.86,0.0,7,1.285714,0.000000
5,1,3,yellow,31782.28,15.8,55.5,4158.57,1201.93,118.2,37347.28,15.0,400,1.433584,1.317425
6,1,4,green,407.05,0.0,0.5,1.00,0.00,1.2,412.25,0.0,4,1.000000,4.682500
7,1,4,yellow,7635.41,6.8,17.0,630.21,124.60,26.7,8448.22,7.5,92,1.247191,2.431848
8,1,5,yellow,9761.66,1.0,23.0,1339.19,227.05,39.3,11396.20,2.5,144,1.608696,0.966458
9,1,6,green,194.00,0.0,0.0,31.66,0.00,0.6,226.26,0.0,2,1.500000,0.030000
10,1,6,yellow,14005.78,15.0,35.0,2075.90,660.12,56.1,16879.50,17.5,198,1.546392,1.048990
11,1,7,green,206.50,0.0,1.0,5.50,23.00,0.9,236.90,0.0,3,1.000000,18.133333
12,1,7,yellow,21799.94,19.0,41.5,3187.81,1122.35,83.1,26266.35,15.0,292,1.533101,1.964692
13,1,8,green,242.50,0.0,0.5,7.75,13.75,1.2,265.70,0.0,4,1.500000,4.040000
14,1,8,yellow,24931.02,16.0,43.5,3646.13,1048.76,100.2,29790.11,0.0,354,1.601744,0.985000
15,1,9,green,60.00,0.0,0.5,0.00,13.75,0.3,74.55,0.0,1,1.000000,21.640000
16,1,9,yellow,26605.86,7.5,42.0,3586.59,1634.87,102.0,31981.32,0.0,349,1.644315,1.275874
17,1,10,green,289.00,1.0,0.5,42.64,25.99,0.9,360.03,0.0,3,1.000000,12.386667
18,1,10,yellow,37805.71,17.5,43.5,5365.71,2288.15,138.3,45666.37,12.5,477,1.653277,0.877275
19,1,11,green,589.00,0.0,0.0,76.52,0.00,1.8,667.32,0.0,6,1.000000,0.140000
20,1,11,yellow,48258.20,14.0,62.5,7471.28,2332.47,179.7,58328.15,12.5,627,1.606400,0.701707
21,1,12,green,334.09,1.0,0.5,0.00,13.75,1.2,350.54,0.0,4,1.000000,10.670000
22,1,12,yellow,60284.58,12.5,63.0,8139.87,2308.94,208.8,71030.19,12.5,732,1.778386,0.831735
23,2,1,yellow,65.50,1.5,1.5,5.00,2.29,0.9,76.69,0.0,3,1.333333,7.200000

In [31]:
df.shape

(6217, 14)